<?xml version="1.0" encoding="UTF-8"?>
<window>
    <include>Action_BlurImage_SimpleBackground_Onload</include>
    <defaultcontrol>99995</defaultcontrol>
    <controls>
        <include content="Background_Image">
            <param name="texture">$VAR[Image_SimpleBackground]</param>
			<param name="colordiffuse">main_fg_30</param>
        </include>
        <include>Settings_Landing</include>
    </controls>
</window>
